/* Color Of App  */

$primary-color :  #ef1d13;

$orange-home-color : rgb(253, 99, 0);
$yellow-home-color : rgb(247, 169, 0);
$purple-home-color : rgb(129, 17, 88);
$green-home-color : rgb(107, 190, 0);
$blue-home-color : rgb(0, 152, 173);

